<h2>Select your list or create one</h2>

<div class="row">
  <div class="col-12">
    <button class="btn btn-success" (click)="sync()">Sync</button>
  </div>
  <div class="col-12" *ngIf="(lists$ | async) as lists">
    <ul class="list-group">
      <ng-container *ngFor="let list of lists">
        <li role="button" [routerLink]="['list', list.id]" class="list-group-item">
          <div class="d-inline">
            <span>{{ list.name }}</span>,
            <span>{{ list.items.length }} items</span>
          </div>
          <div class="d-inline float-end">
            <button type="button" class="btn btn-danger" (click)="deleteList(list, $event)">Delete</button>
          </div>
        </li>
      </ng-container>
    </ul>
  </div>
</div>
<form>
  <div class="row mt-3">
    <div class="col-8">
      <input class="form-control" [(ngModel)]="newListName" name="listName" placeholder="List name">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary" (click)="createNewList()">Add</button>
    </div>
  </div>
</form>
