<ng-container *ngIf="(list$ | async) as list">
  <div class="col-12">
    <h2>{{list.name}}</h2>
    <ul class="list-group">
      <ng-container *ngFor="let item of list.items">
        <li class="list-group-item">
          <app-item [item]="item"></app-item>
        </li>
      </ng-container>
    </ul>
  </div>

  <form>
    <div class="row mt-3">
      <div class="col-8">
        <input class="form-control" [(ngModel)]="newItemName" name="listName" placeholder="Item name">
      </div>
      <div class="col">
        <button type="submit" class="btn btn-primary" (click)="createNewItem(list.id)">Add</button>
      </div>
    </div>
  </form>

</ng-container>

